<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>급식 먹을 날짜를 알려주세요</h1>
    <form action="/lunch" method="post">
        <input type="date" name="date">
        <button type="submit">가져오기</button>    
    </form>
</body>
</html>